<br>
<br>
<div class="container">
  <div class="card-box task-detail">
    <div class="media mt-0 m-b-30">
      <img class="d-flex mr-3 rounded-circle" alt="64x64" src="https://avatars.io/twitter/e2d3m" style="width: 48px; height: 48px;float: left; margin-right: 20px;">
      <div class="media-body">
        <h5 class="media-heading mb-0 mt-0"><%= @event.user.email %></h5>
        <span class="badge badge-success">Etkinlik Düzenliyici</span>
      </div>
    </div>

    <h4 class="m-b-20"><%= @event.title %></h4>

    <p class="text-muted">
      <%= @event.description %>
    </p>

    <ul class="list-inline task-dates m-b-0 mt-5">
      <li>
        <h5 class="m-b-5">Etkinlik Adresi</h5>
        <p> <%= @event.location %> </p>
      </li>
      <li>
        <h5 class="m-b-5">Etkinlik Tarihi</h5>
        <p> <%= @event.date %> </p>
      </li>

    </ul>
    <div class="clearfix"></div>

    <div class="assign-team mt-4">
      <h5 class="m-b-5">Katılma isteği gönderenler</h5>
      <div>
        <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="https://avatars.io/twitter/e2d3m"> </a>
        <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="https://avatars.io/twitter/e2d3m"> </a>
        <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="https://avatars.io/twitter/e2d3m"> </a>
        <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="https://avatars.io/twitter/e2d3m"> </a>
      </div>
    </div>

    <div class="attached-files mt-4">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-right m-t-30">
            <% if @current_user.present? && @event.user == @current_user %>
              <%= link_to 'Sil', @event, method: :delete, class: 'btn btn-danger waves-effect', data: { confirm: 'EMİNMİSİNNN ???' } %>
            <% end %>
            <% if @event.user != @current_user %>
              <% if !@current_user.invitations.where(event_id: @event.id).first %>
                <%= link_to 'Baş Vur', event_invitations_path(@event), class: 'btn btn-success waves-effect', method: :post %>
              <% else %>
                <%= link_to 'İptal Et', event_invitation_path(@event), class: 'btn btn-danger waves-effect', method: :delete, data: { confirm: 'EMİNMİSİNNN ???' } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<h3>Waitings</h3>
<% @invitations.waiting.each do |inv| %>
  <%= inv.user.email %>
  <% if @current_user == @event.user %>
    <%= link_to 'Accept', event_accept_invite_path(@event, inv) %>
    <%= link_to 'Decline', event_decline_invite_path(@event, inv) %>
  <% end %>
<br>
<% end %>

<h3>Accepted</h3>
<% @invitations.accepted.each do |inv| %>
  <%= inv.user.email %>
  <% if @current_user == @event.user %>
    <%= link_to 'Cancel', event_decline_invite_path(@event, inv) %>
  <% end %>
  <br>
<% end %>

<h3>Declined</h3>
<% @invitations.declined.each do |inv| %>
  <%= inv.user.email %>
  <% if @current_user == @event.user %>
    <%= link_to 'Accept', event_accept_invite_path(@event, inv) %>
  <% end %>
  <br>
<% end %>
