<!DOCTYPE html>
<html>
  <head>
    <title>Kimgelio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= @current_user.present? ? "hoşgeldin #{@current_user.email}" : 'hoşgeldin ziyaretçi' %>
    <%= yield %>
  </body>
</html>
